 

 
 
header{


   background-color: black;
   height: 100px;
}

.style{
   position: relative;
   
}
.musical{
   display: flex;
}


.trompetista{
   padding: 7px 45px;
   background-color: burlywood;
}

.tubista{ 
   padding: 7px 45px;
   background-color: lightskyblue;

}

.clarinetista{
   padding: 7px 45px;
   background-color: darkkhaki;
}

.pratista{
   padding: 7px 45px;
   background-color: lightpink;

}


 }
 
 body{

   .musica{

      font-size: 30px;
   }
    

 }

 p{
font-size: 20px;
font-weight: bold;
background-color: palegoldenrod;

 }

 h1{

    text-transform: uppercase;
    color: crimson;

    
    }
    
    
    
 }

 

 